<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="Name" autofocus>
  <input type="password" name='password' placeholder="Pass">
  <input class="btn primary" type='submit' value='log in'>
</form>
